@import "../../Styles/variables.scss";
@import "../../Styles/mixins.scss";

:root {
  --angle: 90deg;
}

html, body {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-image: url("../../Assets/portfolioskybox.png");
	animation: scroll-bg 60s linear infinite;
	margin: 0;
	height: 100%;
}

.HomePage {
	margin: 0;
	display: flex;
  	flex-flow: column;
  	height: 100vh;
	align-items: center;
}

.model-container {
	width: 9%;
}
.header-logo-name {
	margin-left: 1%;
	width: 25%;
	height: auto;
	align-self: center;
}
.header-portfolio-type {
	align-self: center;
	text-align: right;
	flex: 1;
}

.main-menu-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	align-items: center;

	button {
		margin: auto;
		color: $color-four;
		width: 25%;
		border-radius: 10px;
		font-size: larger;

		background:
        	linear-gradient($color-one, transparent),
        	linear-gradient(to top left, $color-two, transparent),
        	linear-gradient(to top right, $color-two, transparent);
    	background-blend-mode: screen;
		border: 0px solid $color-one;
		padding: 1%;
	}

	button:hover{
		background:
        	linear-gradient($color-two, transparent),
        	linear-gradient(to top left, $color-three, transparent),
        	linear-gradient(to top right, $color-two, transparent);
    	background-blend-mode: screen;
	}

	button:active{
		background:
        	linear-gradient($color-three, transparent),
        	linear-gradient(to top left, $color-four, transparent),
        	linear-gradient(to top right, $color-three, transparent);
    	background-blend-mode: screen;
	}
}

.game-programmer-header {
	background-color: $color-one;
	padding: 1%;
	padding-left: 2%;
	padding-right: 2%;
	display: flex;
	width: 100%;
	flex-direction: row;
	vertical-align: middle;
	flex: 0 1 auto;

	h1, h3 {
		animation: change-color ease;
		animation-iteration-count: infinite;
		animation-duration: 1s;
		animation-fill-mode: both;
	}
	h3 {
		color: $color-four;
	}
}

.game-programmer-body {
	width: 80%;
	flex: 1 0 auto;
}

.game-programmer-body-container {
	height: 100%;
}

.game-programmer-footer{
	width: 100%;
	background-color: $color-one;
	color: $color-four;
	padding-left: 1%;
	flex:  0 1 40px;
	text-align: center;
}

.tab-content-container {
	background-color: $color-one;
	border: 2px solid $color-two;
	align-self: center;
	height: 100%;
}

.game-programmer-tabs {
	background-color: $color-two;

	:hover{
		background-color: $color-three !important;
		color: $color-four;
	}

	.active{
		background-color: $color-four !important;
		color: $color-five !important;
	}
}

.software-engineer-tabs {
	background-color: $color-two;

	:hover{
		background-color: $color-three !important;
		color: $color-four;
	}

	.active{
		background-color: $color-four !important;
		color: $color-five !important;
	}
}

.software-engineer-header {
    background-color: $color-one;
	padding: 1%;
	padding-left: 2%;
	padding-right: 2%;
	display: flex;
	width: 100%;
	flex-direction: row;
	vertical-align: middle;
	flex: 0 1 auto;

	h1, h3 {
		animation: change-color ease;
		animation-iteration-count: infinite;
		animation-duration: 1s;
		animation-fill-mode: both;
	}
	h3 {
		color: $color-four;
	}
}

.software-engineer-body {
	width: 80%;
	flex: 1 0 auto;
}

.software-engineer-body-container {
	height: 100%;
}

.software-engineer-footer{
	width: 100%;
	background-color: $color-one;
	color: $color-four;
	padding-left: 1%;
	flex:  0 1 40px;
	text-align: center;
}

.tab-content-container {
	background-color: $color-one;
	border: 2px solid $color-two;
	align-self: center;
	height: 100%;
}

@keyframes change-color {
	0% {
	  color: $color-five;
	}
	
	50% {
	  color: $color-four;
	}
	
	100% {
	  color: $color-five;
	}
}

@keyframes scroll-bg {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 4096px 0;
	}
}
