@import "../../Styles/variables.scss";
@import "../../Styles/mixins.scss";

:root {
  --angle: 90deg;
}

#root {
	height: 100vh;
}

html, body {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-image: url("../../Assets/portfolioskybox.png");
	animation: scroll-bg 60s linear infinite;
	margin: 0;
	width: 100%;
    height: 100%;
}

.HomePage {
	display: flex;
  	flex-direction: column;
  	height: 100%;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

.model-container {
	width: 200px;
}
.header-logo-name {
	margin-left: 1%;
	width: 25%;
	height: auto;
	align-self: center;
}
.header-portfolio-type {
	margin-top: 15px;
	align-self: center;
	text-align: right;
	flex: 1;
	
	h6 {
		text-transform: capitalize;
	}

	p {
		color: $color-four;
	}
}

.sections-container {
	display: flex;
	flex-direction: column;
}

.section {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.6s ease-out;
	will-change: opacity, visibility;
}

.section.is-visible{
	opacity: 1;
	visibility: visible;
}

.header {
	font-size: smaller;
	background:
		linear-gradient($color-one, transparent),
		linear-gradient(to top left, $color-one, transparent),
		linear-gradient(to top right, $color-two, transparent);
	background-blend-mode: screen;
	padding: 1%;
	padding-left: 2%;
	padding-right: 2%;
	display: flex;
	width: 100%;
	flex-direction: row;
	vertical-align: middle;
	flex: 1, 1, auto;

	h1, h6 {
		animation: change-color ease;
		animation-iteration-count: infinite;
		animation-duration: 1s;
		animation-fill-mode: both;
	}
	h6 {
		color: $color-four;
	}
}

.body {
	overflow-y: scroll;
	scrollbar-width: none;
}

.footer{
	width: 100%;
	background:
        	linear-gradient($color-one, transparent),
        	linear-gradient(to top left, $color-one, transparent),
        	linear-gradient(to top right, $color-two, transparent);
	background-blend-mode: screen;
	color: $color-four;
	padding-left: 1%;
	text-align: center;
}

.tab-content {
	height: 100%;
	min-height: 0;
	overflow-y: scroll;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	margin-right: -25px;
}

.tab-content .tab-pane {
	width: 100%;
}

::-webkit-scrollbar{
	display: none;
}

::-webkit-scrollbar-button {
	background-color: transparent;
}

::-webkit-scrollbar-thumb{
	background-color: transparent;
}

.tabs {

	flex:  0 1 40px;

	background:
        	linear-gradient($color-one, transparent),
        	linear-gradient(to top left, $color-two, transparent),
        	linear-gradient(to top right, $color-two, transparent);
	background-blend-mode: screen;

	:hover{
		background:
        	linear-gradient($color-two, transparent),
        	linear-gradient(to top left, $color-three, transparent),
        	linear-gradient(to top right, $color-two, transparent);
    	background-blend-mode: screen;
		color: $color-four;
	}

	.active{
		background:
        	linear-gradient($color-one, transparent),
        	linear-gradient(to top left, $color-one, transparent),
        	linear-gradient(to top right, $color-one, transparent);
    	background-blend-mode: screen;
		color: $color-one !important;
	}
}

@keyframes change-color {
	0% {
	  color: $color-five;
	}
	
	50% {
	  color: $color-four;
	}
	
	100% {
	  color: $color-five;
	}
}

@keyframes scroll-bg {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 4096px 0;
	}
}
