@import "../../Styles/variables.scss";
@import "../../Styles/mixins.scss";

.Projects {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	display: flex;
	align-items: stretch;
	height: 100%;
	width: 100%;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 700px;
}

.projects-main-div {
	margin-top: 30px;
	width: 100%;
	align-items: center !important;
}

hr {
	color: $color-five;
}

.experience-paragraph {
	text-align: center;
	padding: 10px;
	color: $color-four;
	width: 100%;
}
.projects-container {
	width: 100%;
	justify-content: center;
	display: inline-flex;
	flex-wrap: wrap;
	gap: 30px;

	img {
		animation: project-highlight linear;
		animation-iteration-count: 1;
		animation-duration: 0.25s;
		animation-fill-mode: both;
		animation-direction: reverse;
	}

	img:hover {
		animation: project-highlight linear;
		animation-iteration-count: 1;
		animation-duration: 0.25s;
		animation-fill-mode: both;
	}
}

.projects-container-inner {
	width: 100%;
	justify-content: center;
	display: inline-flex;
	flex-wrap: wrap;
	gap: 30px;
}

.project-category {
	display: flex;
	justify-content: center;
	margin-bottom: -15px;

	h2 {
		color: $color-four;
	}
}

.project-box {

	color: $color-four;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;

}

.project-modal {
	width: 85vw;
	color: $color-five;
	max-width: none !important;
}

.project-modal .modal-content {
	background:
        	linear-gradient($color-three, transparent),
        	linear-gradient(to top left, $color-one, transparent),
        	linear-gradient(to top right, $color-one, transparent);
	max-height: 90vh;
}

.project-date {
	margin-bottom: 25px;
}

.modal-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	width: 100%;
}

.modal-body {
	overflow-y: scroll;

	iframe {
		aspect-ratio : 1 / 0.565;
		border-radius: 25px;
		width: 90%;
	}
}

.project-description {
	margin-top: 10px;
	width: 100%;
}

.download-button {
	margin-left:auto;
	margin-right:15px;
	color: $color-two;
	background-color: $color-four;
	border-radius: 10px;
	padding: 5px;
	box-shadow: 2px 2px black;
	
	a {
		text-decoration: none;
		color: $color-two;
	}

}

.modal-video-box {
	width: 75%;
	display: flex;
	flex-direction: column;
	margin: auto;

	h4 {
		align-self: center;
	}
}

.modal-iframe-container {
    width: 100%;
	text-align: center;
}

@keyframes project-highlight {
	0% {
	  filter: brightness(70%);
	  border-radius: 25px;
	}
	100% {
		filter: brightness(90%);
		border-radius: 15px;
	}
}