@import "../../Styles/variables.scss";
@import "../../Styles/mixins.scss";

.Skills {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	display: flex;
	align-items: stretch;
	height: 100%;
	width: 100%;
	padding-left: 25px;
	padding-bottom: 100px;
}

.skill-box {
	text-align: center;
}

.skills-main-div {
	margin-top: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
}

@media only screen and (min-width: 851px) {
	.skills-container {
		width: 100%;
		justify-content: center;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 10px;
		padding: 10%;
	}
}

@media only screen and (max-width: 850px) {
	.skills-container {
		width: 100%;
		justify-content: center;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 0px;
		padding: 20%;
	}
}

.skills-box-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.skills-container-inner {
	width: 100%;
	justify-content: center;
	display: inline-flex;
	flex-wrap: wrap;
	gap: 30px;
}

.skills-category-box {
	background-image:
        	linear-gradient(to right, $color-three, adjust-hue($color-three, 20%));
	border-radius: 15px;
	padding: 15px;
	box-shadow: 5px 5px $color-two;
	margin-bottom: 50px;
}

.skills-category-box-simple {
	background-image:
        	linear-gradient(to right, $color-three, adjust-hue($color-three, 20%)) !important;
}

.skills-category-box-colorA {
	background-image:
		linear-gradient(to right, adjust-hue($color-three, 20%), adjust-hue($color-three, 40%)) !important;
}

.skills-category-box-colorB {
	background-image:
		linear-gradient(to right, adjust-hue($color-three, 40%), adjust-hue($color-three, 60%)) !important;
}

.skills-category-box-colorC {
	background-image:
		linear-gradient(to right, adjust-hue($color-three, 60%), adjust-hue($color-three, 80%)) !important;
}

.skills-category-box-colorD {
	background-image:
		linear-gradient(to right, adjust-hue($color-three, 80%), adjust-hue($color-three, 100%)) !important;
}

.skills-category-box-title {
	background:
        	linear-gradient($color-three, transparent),
        	linear-gradient(to top left, $color-one, $color-three),
        	linear-gradient(to top right, $color-one, $color-three);
	text-align: center;
	position: relative;
	bottom:30px;
	border-radius: 15px;
	padding: 15px 15px 7px 15px;
	color: $color-four;
	box-shadow: 5px 5px $color-one;
}

.skill-badge-background {
	background-image:
		linear-gradient(to right, adjust-hue($color-three, 40%), adjust-hue($color-three, 60%)) !important;
}

.skill-badge {
	color: $color-four;
	font-size:small;
	margin: 5px;
	box-shadow: 5px 5px $color-one;
}

.skills-colorA {
	color: adjust-hue($color-two, 10%) !important;
}

